<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>城市旅游</key>
	<array>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/link?url=ANbNr4aTL5PrPLYm61bHjJGtwzAy62meNnfspN8GAD-9HlzMugS4dtg7fAHynAFNAJJWO5UxM2ElakQtdzchy18wxYfm4LNqBaHN_I_h0Ze</string>
			<key>name</key>
			<string>天津</string>
			<key>text</key>
			<string>tianjin</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E5%8C%97%E4%BA%AC/128981</string>
			<key>name</key>
			<string>北京</string>
			<key>text</key>
			<string>beijing</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E9%87%8D%E5%BA%86/23586</string>
			<key>name</key>
			<string>重庆</string>
			<key>text</key>
			<string>chongqing</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E5%93%88%E5%B0%94%E6%BB%A8/177863</string>
			<key>name</key>
			<string>哈尔滨</string>
			<key>text</key>
			<string>haerbing</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/link?url=ivIyOpnd2Pl6o0McDJdi2yE_ytbI4KEuoiQgxaJ2Q2V8iueX8vkn-NvTb_epC3fYep72zKkPdnuEf79y8LYDrKUrDK245voFDiJ5Hy6KoQ7</string>
			<key>name</key>
			<string>台北</string>
			<key>text</key>
			<string>taibei</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E6%9D%AD%E5%B7%9E/147639</string>
			<key>name</key>
			<string>杭州</string>
			<key>text</key>
			<string>hangzhou</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/view/4551.htm</string>
			<key>name</key>
			<string>昆明</string>
			<key>text</key>
			<string>kunming</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E5%A4%A7%E7%90%86%E7%99%BD%E6%97%8F%E8%87%AA%E6%B2%BB%E5%B7%9E/2916136?fromtitle=%E5%A4%A7%E7%90%86&amp;fromid=32237&amp;type=syn</string>
			<key>name</key>
			<string>大理</string>
			<key>text</key>
			<string>dali</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E4%B9%8C%E9%B2%81%E6%9C%A8%E9%BD%90/121593</string>
			<key>name</key>
			<string>乌鲁木齐</string>
			<key>text</key>
			<string>wulumuqi</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E9%A6%99%E6%B8%AF/128775</string>
			<key>name</key>
			<string>香港</string>
			<key>text</key>
			<string>xianggang</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/view/1153.htm</string>
			<key>name</key>
			<string>拉萨</string>
			<key>text</key>
			<string>lasa</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E6%88%90%E9%83%BD/128473</string>
			<key>name</key>
			<string>成都</string>
			<key>text</key>
			<string>chengdu</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E4%B8%8A%E6%B5%B7/114606</string>
			<key>name</key>
			<string>上海</string>
			<key>text</key>
			<string>shanghai</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E8%A5%BF%E5%AE%89/121614</string>
			<key>name</key>
			<string>西安</string>
			<key>text</key>
			<string>xian</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E9%9D%92%E5%B2%9B/60244</string>
			<key>name</key>
			<string>青岛</string>
			<key>text</key>
			<string>qingdao</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/view/15296.htm</string>
			<key>name</key>
			<string>银川</string>
			<key>text</key>
			<string>yingchuan</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/view/26335.htm</string>
			<key>name</key>
			<string>呼和浩特</string>
			<key>text</key>
			<string>huhehaote</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/subview/2239/15365952.htm</string>
			<key>name</key>
			<string>苏州</string>
			<key>text</key>
			<string>suzhou</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E5%B9%BF%E5%B7%9E/72101</string>
			<key>name</key>
			<string>广州</string>
			<key>text</key>
			<string>guangzhou</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E6%BE%B3%E9%97%A8/24335</string>
			<key>name</key>
			<string>澳门</string>
			<key>text</key>
			<string>aomen</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/subview/1267/15365919.htm</string>
			<key>name</key>
			<string>武汉</string>
			<key>text</key>
			<string>wuhan</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/view/5812.htm</string>
			<key>name</key>
			<string>三亚</string>
			<key>text</key>
			<string>sanya</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E6%B4%9B%E9%98%B3/125712</string>
			<key>name</key>
			<string>洛阳</string>
			<key>text</key>
			<string>luoyang</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/view/3329.htm</string>
			<key>name</key>
			<string>深圳</string>
			<key>text</key>
			<string>shenzhen</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E5%90%90%E9%B2%81%E7%95%AA/36976</string>
			<key>name</key>
			<string>吐鲁番</string>
			<key>text</key>
			<string>tulufan</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/subview/4026/6958452.htm</string>
			<key>name</key>
			<string>南京</string>
			<key>text</key>
			<string>nanjing</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/view/48869.htm</string>
			<key>name</key>
			<string>襄阳</string>
			<key>text</key>
			<string>xiangyang</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E6%89%AC%E5%B7%9E/6255</string>
			<key>name</key>
			<string>扬州</string>
			<key>text</key>
			<string>yangzhou</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E6%B5%8E%E5%8D%97/135066</string>
			<key>name</key>
			<string>济南</string>
			<key>text</key>
			<string>jinan</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E6%81%A9%E6%96%BD%E5%9C%9F%E5%AE%B6%E6%97%8F%E8%8B%97%E6%97%8F%E8%87%AA%E6%B2%BB%E5%B7%9E/1941825?fromtitle=%E6%81%A9%E6%96%BD&amp;fromid=35401&amp;type=syn</string>
			<key>name</key>
			<string>恩施</string>
			<key>text</key>
			<string>enshi</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E5%85%B0%E5%B7%9E/170826</string>
			<key>name</key>
			<string>兰州</string>
			<key>text</key>
			<string>lanzhou</string>
		</dict>
	</array>
	<key>著名景区</key>
	<array>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E5%BC%80%E5%B0%81/122642</string>
			<key>name</key>
			<string>开封</string>
			<key>text</key>
			<string>kaifeng</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E7%A5%9E%E5%86%9C%E6%9E%B6%E6%9E%97%E5%8C%BA/2884040?fromtitle=%E7%A5%9E%E5%86%9C%E6%9E%B6&amp;fromid=95862&amp;type=syn</string>
			<key>name</key>
			<string>神龙架</string>
			<key>text</key>
			<string>shennongjia</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E6%AD%A6%E5%BD%93%E5%B1%B1/84549</string>
			<key>name</key>
			<string>武当山</string>
			<key>text</key>
			<string>wudangsan</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/view/19051.htm</string>
			<key>name</key>
			<string>张家界</string>
			<key>text</key>
			<string>zhangjiajie</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E8%A1%A1%E5%B1%B1/253407</string>
			<key>name</key>
			<string>衡山</string>
			<key>text</key>
			<string>hengsan</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E6%BB%95%E7%8E%8B%E9%98%81/70500</string>
			<key>name</key>
			<string>滕王阁</string>
			<key>text</key>
			<string>tengwangge</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E9%9D%92%E6%B5%B7%E5%8F%AF%E5%8F%AF%E8%A5%BF%E9%87%8C%E5%9B%BD%E5%AE%B6%E7%BA%A7%E8%87%AA%E7%84%B6%E4%BF%9D%E6%8A%A4%E5%8C%BA/1630877?fromtitle=%E5%8F%AF%E5%8F%AF%E8%A5%BF%E9%87%8C&amp;fromid=10484&amp;type=syn</string>
			<key>name</key>
			<string>可可西里</string>
			<key>text</key>
			<string>kekexili</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E5%A3%B6%E5%8F%A3%E7%80%91%E5%B8%83/985</string>
			<key>name</key>
			<string>壶口瀑布</string>
			<key>text</key>
			<string>hukoupubu</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E9%9B%AA%E4%B9%A1/4249</string>
			<key>name</key>
			<string>雪乡</string>
			<key>text</key>
			<string>xuexiang</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/subview/696670/8429824.htm?fromtitle=%E6%AD%A6%E9%9A%86&amp;fromid=467424&amp;type=syn</string>
			<key>name</key>
			<string>武隆</string>
			<key>text</key>
			<string>wulong</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E6%B3%B0%E5%B1%B1/5447</string>
			<key>name</key>
			<string>泰山</string>
			<key>text</key>
			<string>taisan</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E4%B9%8C%E9%95%87/5314</string>
			<key>name</key>
			<string>乌镇</string>
			<key>text</key>
			<string>wuzheng</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E9%BB%84%E5%B1%B1/9416</string>
			<key>name</key>
			<string>黄山</string>
			<key>text</key>
			<string>huangsan</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/view/310088.htm?fromtitle=%E8%A5%BF%E5%8F%8C%E7%89%88%E7%BA%B3&amp;fromid=382982&amp;type=search</string>
			<key>name</key>
			<string>西双版纳</string>
			<key>text</key>
			<string>xishuangbanna</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E9%A6%99%E6%A0%BC%E9%87%8C%E6%8B%89/5785</string>
			<key>name</key>
			<string>香格里拉</string>
			<key>text</key>
			<string>xianggelila</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E6%AD%A6%E5%A4%B7%E5%B1%B1/917</string>
			<key>name</key>
			<string>武夷山</string>
			<key>text</key>
			<string>wuyisan</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/view/15125.htm</string>
			<key>name</key>
			<string>莫高窟</string>
			<key>text</key>
			<string>mogaoku</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E6%A1%82%E6%9E%97/7495</string>
			<key>name</key>
			<string>桂林</string>
			<key>text</key>
			<string>lijiang</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E5%8C%97%E6%B5%B7/12719</string>
			<key>name</key>
			<string>北海</string>
			<key>text</key>
			<string>beihai</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E9%81%B5%E4%B9%89/450877</string>
			<key>name</key>
			<string>遵义</string>
			<key>text</key>
			<string>zhunyi</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E5%B3%A8%E7%9C%89%E5%B1%B1/2676</string>
			<key>name</key>
			<string>乐山，峨眉山</string>
			<key>text</key>
			<string>emei</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E4%B9%9D%E5%AF%A8%E6%B2%9F%E5%9B%BD%E5%AE%B6%E7%BA%A7%E8%87%AA%E7%84%B6%E4%BF%9D%E6%8A%A4%E5%8C%BA/8762684?fromtitle=%E4%B9%9D%E5%AF%A8%E6%B2%9F&amp;fromid=122560&amp;type=syn</string>
			<key>name</key>
			<string>九寨沟</string>
			<key>text</key>
			<string>jiuzhaigou</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E5%B8%83%E8%BE%BE%E6%8B%89%E5%AE%AB/113399</string>
			<key>name</key>
			<string>布达拉宫</string>
			<key>text</key>
			<string>budalagong</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E9%9B%85%E9%B2%81%E8%97%8F%E5%B8%83%E6%B1%9F/121754</string>
			<key>name</key>
			<string>雅鲁藏布江</string>
			<key>text</key>
			<string>yaluzangpujiang</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E7%A7%A6%E7%9A%87%E5%B2%9B/180698</string>
			<key>name</key>
			<string>秦皇岛</string>
			<key>text</key>
			<string>qinhuangdao</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E5%B5%A9%E5%B1%B1/5671</string>
			<key>name</key>
			<string>嵩山</string>
			<key>text</key>
			<string>songsan</string>
		</dict>
	</array>
	<key>小众景点</key>
	<array>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/view/85181.htm</string>
			<key>name</key>
			<string>湄洲岛</string>
			<key>text</key>
			<string>meizhoudao</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/view/476647.htm</string>
			<key>name</key>
			<string>色达</string>
			<key>text</key>
			<string>seda</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/view/906528.htm</string>
			<key>name</key>
			<string>桂北苗寨梯田</string>
			<key>text</key>
			<string>titian</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E7%A6%BE%E6%9C%A8%E6%9D%91/69791</string>
			<key>name</key>
			<string>新疆禾木村</string>
			<key>text</key>
			<string>hemu</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/view/9751.htm</string>
			<key>name</key>
			<string>蜀南竹海</string>
			<key>text</key>
			<string>shunanzhuhai</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E6%81%A9%E6%96%BD%E5%A4%A7%E5%B3%A1%E8%B0%B7/9127748</string>
			<key>name</key>
			<string>恩施大峡谷</string>
			<key>text</key>
			<string>enshidaxiagu</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/view/182181.htm</string>
			<key>name</key>
			<string>东极岛</string>
			<key>text</key>
			<string>dongjidao</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/view/941050.htm</string>
			<key>name</key>
			<string>前童古镇</string>
			<key>text</key>
			<string>qiantongguzheng</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E6%AD%A6%E5%8A%9F%E5%B1%B1/1025050</string>
			<key>name</key>
			<string>武功山</string>
			<key>text</key>
			<string>wugongsan</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/view/2923491.htm</string>
			<key>name</key>
			<string>七藏沟</string>
			<key>text</key>
			<string>qizanggou</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/view/602611.htm</string>
			<key>name</key>
			<string>云南沧源</string>
			<key>text</key>
			<string>cangyuan</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/view/34922.htm</string>
			<key>name</key>
			<string>嵛山岛</string>
			<key>text</key>
			<string>yusandao</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/view/1952696.htm?fromtitle=%E5%9D%9D%E7%BE%8E&amp;fromid=1583754&amp;type=syn</string>
			<key>name</key>
			<string>坝美</string>
			<key>text</key>
			<string>bamei</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/view/282188.htm?fromtitle=%E7%A8%BB%E5%9F%8E&amp;fromid=629464&amp;type=syn</string>
			<key>name</key>
			<string>稻城</string>
			<key>text</key>
			<string>daocheng</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/view/1067592.htm</string>
			<key>name</key>
			<string>塔门岛</string>
			<key>text</key>
			<string>tamendao</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/view/9058569.htm</string>
			<key>name</key>
			<string>舟山花鸟岛</string>
			<key>text</key>
			<string>huaniaodao</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/view/3437424.htm?fromtitle=%E9%A9%AC%E6%B9%96&amp;fromid=11056906&amp;type=syn</string>
			<key>name</key>
			<string>雷波县马湖</string>
			<key>text</key>
			<string>mahu</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E9%98%BF%E5%B0%94%E5%B1%B1/1389001</string>
			<key>name</key>
			<string>阿尔山</string>
			<key>text</key>
			<string>aersan</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/view/862359.htm</string>
			<key>name</key>
			<string>堂安侗寨</string>
			<key>text</key>
			<string>tangan</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/view/22527.htm</string>
			<key>name</key>
			<string>慈溪</string>
			<key>text</key>
			<string>cixi</string>
		</dict>
	</array>
	<key>亚洲</key>
	<array>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E6%9B%BC%E8%B0%B7/412946</string>
			<key>name</key>
			<string>泰国－曼谷</string>
			<key>text</key>
			<string>mangu</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/view/103874.htm</string>
			<key>name</key>
			<string>泰国－清迈</string>
			<key>text</key>
			<string>qingmai</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E6%99%AE%E5%90%89%E5%B2%9B/121922</string>
			<key>name</key>
			<string>泰国－普吉岛</string>
			<key>text</key>
			<string>pujidao</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E9%A6%96%E5%B0%94/61723</string>
			<key>name</key>
			<string>韩国－首尔</string>
			<key>text</key>
			<string>shouer</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/view/47551.htm</string>
			<key>name</key>
			<string>韩国－济州岛</string>
			<key>text</key>
			<string>jizhoudao</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E9%87%9C%E5%B1%B1/475181</string>
			<key>name</key>
			<string>韩国－釜山</string>
			<key>text</key>
			<string>fusan</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E4%B8%9C%E4%BA%AC/438</string>
			<key>name</key>
			<string>日本－东京</string>
			<key>text</key>
			<string>dongjin</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E4%BA%AC%E9%83%BD/10290262</string>
			<key>name</key>
			<string>日本－京都</string>
			<key>text</key>
			<string>jingdu</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E5%8C%97%E6%B5%B7%E9%81%93/26858</string>
			<key>name</key>
			<string>日本－北海道</string>
			<key>text</key>
			<string>beihaidao</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/view/64916.htm</string>
			<key>name</key>
			<string>日本－大阪</string>
			<key>text</key>
			<string>daban</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/view/1930241.htm</string>
			<key>name</key>
			<string>日本－春日部</string>
			<key>text</key>
			<string>chunribu</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/view/3593.htm</string>
			<key>name</key>
			<string>新加坡</string>
			<key>text</key>
			<string>xingjiapo</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/subview/4258/16376260.htm</string>
			<key>name</key>
			<string>马尔代夫</string>
			<key>text</key>
			<string>maerdaifu</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/view/2173.htm</string>
			<key>name</key>
			<string>尼泊尔</string>
			<key>text</key>
			<string>niboer</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/view/4205.htm</string>
			<key>name</key>
			<string>越南</string>
			<key>text</key>
			<string>yuenan</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/view/7009.htm</string>
			<key>name</key>
			<string>马来西亚</string>
			<key>text</key>
			<string>malaixiya</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/view/17247.htm</string>
			<key>name</key>
			<string>印度－孟买</string>
			<key>text</key>
			<string>mengmai</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/view/34624.htm</string>
			<key>name</key>
			<string>印度－新德里</string>
			<key>text</key>
			<string>xindeli</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E6%96%AF%E9%87%8C%E5%85%B0%E5%8D%A1</string>
			<key>name</key>
			<string>斯里兰卡</string>
			<key>text</key>
			<string>sililanka</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/view/17176.htm</string>
			<key>name</key>
			<string>阿联酋－迪拜</string>
			<key>text</key>
			<string>dibai</string>
		</dict>
	</array>
	<key>美欧澳非</key>
	<array>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E9%BB%84%E9%87%91%E6%B5%B7%E5%B2%B8/3680947</string>
			<key>name</key>
			<string>黄金海岸</string>
			<key>text</key>
			<string>huangjinghaian</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E5%BC%80%E7%BD%97/80759</string>
			<key>name</key>
			<string>开罗</string>
			<key>text</key>
			<string>kailuo</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/view/176724.htm?fromtitle=%E5%BC%80%E7%BD%97&amp;fromid=2627588&amp;type=syn#viewPageContent</string>
			<key>name</key>
			<string>亚历山大</string>
			<key>text</key>
			<string>yalisanda</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/view/419508.htm</string>
			<key>name</key>
			<string>吉萨</string>
			<key>text</key>
			<string>jisha</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E9%87%8C%E7%BA%A6%E7%83%AD%E5%86%85%E5%8D%A2/813366</string>
			<key>name</key>
			<string>里约热内卢</string>
			<key>text</key>
			<string>liyuereneilu</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/search/word?word=%E5%8E%84%E7%93%9C%E5%A4%9A%E5%B0%94</string>
			<key>name</key>
			<string>厄瓜多尔</string>
			<key>text</key>
			<string>eguaduoer</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E9%98%BF%E6%A0%B9%E5%BB%B7/77652</string>
			<key>name</key>
			<string>阿根廷</string>
			<key>text</key>
			<string>agenting</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/view/4818.htm</string>
			<key>name</key>
			<string>复活节岛</string>
			<key>text</key>
			<string>fuhuojiedao</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E7%BA%BD%E7%BA%A6/6230</string>
			<key>name</key>
			<string>纽约</string>
			<key>text</key>
			<string>niuyue</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/view/7731.htm</string>
			<key>name</key>
			<string>洛杉矶</string>
			<key>text</key>
			<string>luosanji</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E6%97%A7%E9%87%91%E5%B1%B1/29211</string>
			<key>name</key>
			<string>旧金山</string>
			<key>text</key>
			<string>jiujinsan</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E5%8D%8E%E7%9B%9B%E9%A1%BF%E5%93%A5%E4%BC%A6%E6%AF%94%E4%BA%9A%E7%89%B9%E5%8C%BA/83601?fromtitle=%E5%8D%8E%E7%9B%9B%E9%A1%BF&amp;fromid=374&amp;type=syn</string>
			<key>name</key>
			<string>华盛顿</string>
			<key>text</key>
			<string>huachengdun</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E6%8B%89%E6%96%AF%E7%BB%B4%E5%8A%A0%E6%96%AF/212726</string>
			<key>name</key>
			<string>拉斯维加斯</string>
			<key>text</key>
			<string>lasiweijiasi</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E6%B8%A9%E5%93%A5%E5%8D%8E/72045</string>
			<key>name</key>
			<string>温哥华</string>
			<key>text</key>
			<string>wengehua</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/view/6109.htm</string>
			<key>name</key>
			<string>科罗拉多大峡谷</string>
			<key>text</key>
			<string>keluoladuo</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E5%A4%8F%E5%A8%81%E5%A4%B7%E5%B7%9E/3436297?fromtitle=%E5%A4%8F%E5%A8%81%E5%A4%B7&amp;fromid=6068&amp;type=syn</string>
			<key>name</key>
			<string>夏威夷</string>
			<key>text</key>
			<string>xiaweiyi</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E8%A5%BF%E9%9B%85%E5%9B%BE/473684</string>
			<key>name</key>
			<string>西雅图</string>
			<key>text</key>
			<string>xiyatu</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E5%B7%B4%E9%BB%8E/858</string>
			<key>name</key>
			<string>巴黎</string>
			<key>text</key>
			<string>bali</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/subview/2245/6158984.htm#viewPageContent</string>
			<key>name</key>
			<string>罗马</string>
			<key>text</key>
			<string>luoma</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E5%A8%81%E5%B0%BC%E6%96%AF/196</string>
			<key>name</key>
			<string>威尼斯</string>
			<key>text</key>
			<string>weinisi</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E4%BC%A6%E6%95%A6/862</string>
			<key>name</key>
			<string>伦敦</string>
			<key>text</key>
			<string>lundun</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/subview/3448/6593635.htm#viewPageContent</string>
			<key>name</key>
			<string>米兰</string>
			<key>text</key>
			<string>milan</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E5%89%91%E6%A1%A5/83750</string>
			<key>name</key>
			<string>剑桥</string>
			<key>text</key>
			<string>jianqiao</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E9%A9%AC%E5%BE%B7%E9%87%8C/753</string>
			<key>name</key>
			<string>马德里</string>
			<key>text</key>
			<string>madeli</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E8%8E%AB%E6%96%AF%E7%A7%91/5522</string>
			<key>name</key>
			<string>莫斯科</string>
			<key>text</key>
			<string>mosike</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E9%9B%85%E5%85%B8/588256</string>
			<key>name</key>
			<string>雅典</string>
			<key>text</key>
			<string>yadian</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E6%99%AE%E7%BD%97%E6%97%BA%E6%96%AF/7250</string>
			<key>name</key>
			<string>普罗旺斯</string>
			<key>text</key>
			<string>puluowangsi</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/view/99950.htm</string>
			<key>name</key>
			<string>戛纳</string>
			<key>text</key>
			<string>gana</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E6%82%89%E5%B0%BC/31769</string>
			<key>name</key>
			<string>悉尼</string>
			<key>text</key>
			<string>xini</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/view/14376.htm</string>
			<key>name</key>
			<string>墨尔本</string>
			<key>text</key>
			<string>moerben</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://baike.baidu.com/item/%E5%A4%A7%E5%A0%A1%E7%A4%81/68026</string>
			<key>name</key>
			<string>大堡礁</string>
			<key>text</key>
			<string>dabaojiao</string>
		</dict>
	</array>
</dict>
</plist>
