<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>text1</key>
		<string>晚风拂柳笛声残</string>
		<key>text2</key>
		<string>夕阳山外山</string>
		<key>author</key>
		<string>李叔同</string>
	</dict>
	<dict>
		<key>text1</key>
		<string>独上高楼</string>
		<key>text2</key>
		<string>望尽天涯路</string>
		<key>author</key>
		<string>晏殊</string>
	</dict>
	<dict>
		<key>text1</key>
		<string>银烛秋光冷画屏</string>
		<key>text2</key>
		<string>轻罗小扇扑流萤</string>
		<key>author</key>
		<string>秋夕</string>
	</dict>
	<dict>
		<key>text1</key>
		<string>自古逢秋悲寂寥</string>
		<key>text2</key>
		<string>我言秋日胜春朝</string>
		<key>author</key>
		<string>刘禹锡</string>
	</dict>
	<dict>
		<key>text1</key>
		<string>欲说还休</string>
		<key>text2</key>
		<string>却道天凉好个秋</string>
		<key>author</key>
		<string>辛弃疾</string>
	</dict>
	<dict>
		<key>text1</key>
		<string>不是花中偏爱菊</string>
		<key>text2</key>
		<string>此花开尽更无花</string>
		<key>author</key>
		<string>元稹</string>
	</dict>
	<dict>
		<key>text1</key>
		<string>酒阑展卷山窗下</string>
		<key>text2</key>
		<string>习习香从纸上来</string>
		<key>author</key>
		<string>董其昌</string>
	</dict>
	<dict>
		<key>text1</key>
		<string>明年花发虽可啄</string>
		<key>text2</key>
		<string>却不道人去梁空巢已倾</string>
		<key>author</key>
		<string>林黛玉</string>
	</dict>
	<dict>
		<key>text1</key>
		<string>若容相仿日牛津</string>
		<key>text2</key>
		<string>相对忘贫</string>
		<key>author</key>
		<string>纳兰容若</string>
	</dict>
	<dict>
		<key>text1</key>
		<string>遥望洞庭山水翠</string>
		<key>text2</key>
		<string>白银盘里一青螺</string>
		<key>author</key>
		<string>刘禹锡</string>
	</dict>
	<dict>
		<key>text1</key>
		<string>白云一片忽酿雨</string>
		<key>text2</key>
		<string>泻入波心水亦香</string>
		<key>author</key>
		<string>许承祖</string>
	</dict>
</array>
</plist>
